* {
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-top: 10%;
}

.identifying-code {
    display: inline;
    width: 10%;
}

.btn-primary {
    margin-left: 45%;
    margin-top: 30px;
    width: 100px;
}

.identifying-img {
    margin-left: 5%;
    width: 100px;
    height: 45px;
    display: inline-block;
    border: 1px solid red;
}

.identifying-change {
    font-size: 10px;
    vertical-align: bottom;
}

.text-muted {
    text-align: right;
    color: red !important;
   height: 20px;
}

article {
    margin-top: 5%;
}
.register-user{
    display:inline-block ;
        margin-left:460px;
}